{% extends 'slayout.html' %}
{% block content %}

<div class="contact py-sm-5 py-4">
	<div class="container py-xl-5 py-lg-3" style="margin-left: 350px;">
		<h3 class="title mb-sm-4 mb-3">
			<span>Add</span> Shipping Details
			<span></span></h3>
		<div class="row">
			<div class="col-lg-7 contact-grid-agiles-w3l">
				<div class="contact-grid-agile">
					<form action="" method="POST">
						<label>From</label>
						<div class="form-group">
							
							<input class="form-control" type="text" placeholder="" name="from" required="">
						</div>
						<label>To</label>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="" name="to" required="">
						</div>
						<label>Date</label>
						<div class="form-group">
							<input class="form-control" type="date" placeholder="Date" name="date" required="">
						</div>
						<label>Time - 24 hour format </label>
                        <div class="form-group">
							<input class="form-control" type="time" placeholder="Time" name="time" required="">
						</div>
						<label>Description</label>
						<div class="form-group">
							<input class="form-control" type="text"  name="desc" required="">
						</div>
						<input type="submit" class="btn" value="Submitt">
					</form>
				</div>
				
			</div>
			
		</div>
	</div>
</div>
<!-- //contact -->

<!-- map -->

{% endblock %}