{% extends 'adminlayout.html' %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
               Ship ....
            </h1>
        </div>
        <div id="no-more-tables">
            <table class="col-md-11 table-bordered table-striped table-condensed cf css-serial">
        		<thead class="cf">
        			<tr style="height: 40px;">
        				<th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
        			</tr>
        		</thead>
        		<tbody>
        			
        			
        			{% for f in f %}
            <tr style="height: 40px;">
                <td></td>
                <td>{{ f.name }}</td>
                <td>{{ f.email }}</td>
                <td>{{ f.subject }}</td>
                <td>{{ f.message }}</td>
                
                
            </tr>
        {% endfor %}
        		</tbody>
        	</table>
        </div>
    </div>
</div>


<style>


    
    .css-serial {
        counter-reset: serial-number;  /* Set the serial number counter to 0 */
      }
      
      .css-serial td:first-child:before {
        counter-increment: serial-number;  /* Increment the serial number counter */
        content: counter(serial-number);  /* Display the counter */
      }
      
   

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
</style>


{% endblock %}