{% extends 'adminlayout.html' %}
{% block content %}

<div class="women_main">
<div class="grids">
    <div class="progressbar-heading grids-heading">
        <h2>Product</h2>
    </div>
    <div class="panel panel-widget forms-panel">
        <div class="forms">
            <div class="form-grids widget-shadow" data-example-id="basic-forms"> 
                
                <div class="form-body" style="width:700px">
                    
                        <div class="form-group"> 
                            <label for="exampleInputEmail1">Product Name:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{details.pdtname}}">
                        </div> 
                        <div class="form-group"> 
                            <label for="exampleInputEmail1">Weight: </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{details.weight}}">
                        </div> 
                        <div class="form-group"> 
                            <label for="exampleInputEmail1">Delivery Name: </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{details.delname}}">
                        </div> 
                        <div class="form-group"> 
                            <label for="exampleInputEmail1">Delivery Address: </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{details.deladdress}}">
                        </div> 
                        <div class="form-group"> 
                            <label for="exampleInputEmail1">Ship Name: </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{details.shipname}}">
                        </div> 
                        <div class="form-group"> 
                            <label for="exampleInputEmail1">Ship From: </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{details.fromplace}}">
                        </div> 
                        <div class="form-group"> 
                            <label for="exampleInputEmail1">Ship To: </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{details.toplace}}">
                        </div> 
                         
                       
                </div>
            </div>
        </div>
    </div>


{% endblock %}