{% extends 'playout.html' %}
{% block content %}


<div class="about py-sm-5 py-4">
    <div class="container">
        <div class="row py-xl-5 py-lg-3">
            
            <div class="col-lg-5" style="margin-left: 350px;">
                <div class="about-right px-lg-4 py-lg-3 p-4">
                    <form action="" method="POST">
                       
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input type="text" class="form-control" placeholder=" " name="email" required="">
                        </div>
                        
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Reset Request">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}