{% extends 'slayout.html' %}
{% block content %}

<div class="contact py-sm-5 py-4">
	<div class="container py-xl-5 py-lg-3" style="margin-left: 350px;">
		<h3 class="title mb-sm-4 mb-3">
			<span>Add</span> Shipping Details
			<span></span></h3>
		<div class="row">
			<div class="col-lg-7 contact-grid-agiles-w3l">
				<div class="contact-grid-agile">
					<form action="/sdetailsadd" method="POST">
						{{form.hidden_tag()}}
						<div class="form-group"> 
                            {{ form.fromplace.label() }}
							<div class="form-group">
                                {% if form.fromplace.errors %}
                                    {{ form.fromplace(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.fromplace.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.fromplace(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						<div class="form-group"> 
                            {{ form.to.label() }}
							<div class="form-group">
                                {% if form.to.errors %}
                                    {{ form.to(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.to.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.to(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						<div class="form-group"> 
                            {{ form.date.label() }}
							<div class="form-group">
                                {% if form.date.errors %}
                                    {{ form.date(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.date.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.date(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						<div class="form-group"> 
                            {{ form.time.label() }}
							<div class="form-group">
                                {% if form.time.errors %}
                                    {{ form.time(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.time.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.time(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						<div class="form-group"> 
                            {{ form.desc.label() }}
							<div class="form-group">
                                {% if form.desc.errors %}
                                    {{ form.desc(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.desc.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.desc(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
						
						<input type="submit" class="btn" value="Submitt">
					</form>
				</div>
				
			</div>
			
		</div>
	</div>
</div>
<!-- //contact -->

<!-- map -->

{% endblock %}