{% extends 'ulayout.html' %}
{% block content %}

<div class="contact py-sm-5 py-4">
	<div class="container py-xl-5 py-lg-3" style="margin-left: 350px;">
		<h3 class="title mb-sm-4 mb-3">
			<span>Add</span> product Details
			<span></span></h3>
		<div class="row">
			<div class="col-lg-7 contact-grid-agiles-w3l">
				<div class="contact-grid-agile">
					<form action="" method="POST">
						{{form.hidden_tag()}}
						<div class="form-group"> 
                            {{ form.product.label() }}
							<div class="form-group">
                                {% if form.product.errors %}
                                    {{ form.product(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.product.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.product(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						<div class="form-group"> 
                            {{ form.weight.label() }}
							<div class="form-group">
                                {% if form.weight.errors %}
                                    {{ form.weight(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.weight.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.weight(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						<div class="form-group"> 
                            {{ form.name.label() }}
							<div class="form-group">
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						<div class="form-group"> 
                            {{ form.address.label() }}
							<div class="form-group">
                                {% if form.address.errors %}
                                    {{ form.address(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.address.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.address(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
						</div>
						
						
						<input type="submit" class="btn" value="Submitt">
					</form>
				</div>
				
			</div>
			
		</div>
	</div>
</div>
<!-- //contact -->

<!-- map -->

{% endblock %}