{% extends 'ulayout.html' %}

{% block content %}
<br><br>
<h2><center>Details </center></h2><br>
    <table class="css-serial" border="2" style="width:1002px; margin-left:141px; text-align:center;">
        <tr style="font-weight: bold;">
            <th>No</th>
            <th>Product</th>
            <td>Weight</td>
            <td>Delivery Name</td>
            <td>Delivery Address</td>
            <td>Ship Name</td>
            <td>Ship From</td>
            <td>Ship To</td>
        </tr>
        {% for details in details %}
            <tr>
                <td></td>
                <td>{{ details.pdtname }}</td>
                <td>{{ details.weight }}</td>
                <td>{{ details.delname }}</td>
                <td>{{ details.deladdress }}</td>
                <td>{{ details.shipname }}</td>
                <td>{{ details.fromplace }}</td>
                <td>{{ details.toplace }}</td>
                
            </tr>
        {% endfor %}
    </table>
<br><br>
<style>
    
.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
  }
  
  .css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }
  
</style>
{% endblock %}